[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci --include=dev"]

[phases.build]
cmds = ["chmod +x node_modules/.bin/* && ./node_modules/.bin/tsc"]

[start]
cmd = "node dist/index.js"
